<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.app.wolf.household">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="android.app.wolf.household.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".view.activity.StartUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.MainActivity" />
        <activity android:name=".view.activity.MessageActivity" />
        <activity android:name=".view.activity.MerchantActivity" />
        <activity android:name=".view.activity.StaffListActivity" />
        <activity android:name=".view.activity.OrderNowActivity" />
        <activity android:name=".view.activity.MoneyActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx62834e4cb5377fbb" />
                <!-- 需修改 -->
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.FlowActivity" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.FlowDetailsActivity" />
        <activity android:name=".view.activity.SearchHisOrderActivity" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".view.activity.OrderHisActivity" />
        <activity android:name=".view.activity.AddStaffActivity" />

        <meta-data android:name="UMENG_APPKEY" android:value="5a041f4ef29d986b7f000119"/>
        <meta-data android:name="UMENG_MESSAGE_SECRET" android:value="b893f610c53c6f359e9255577b982e91"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="oppo"/>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"></activity>
        <activity android:name=".view.activity.AboutActivity"></activity>
    </application>

</manifest>